@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(iconos.css);

.u-title
{
	color: #00DAFF;
	border-bottom: 2px dashed #00DAFF;
}

.u-facebook
{
	background-color: #0082C3;
}

.u-twitter
{
	background-color: #00BAE6;
}

.u-github
{
	background-color: #FF7C00;
}

.u-block
{
	display: block;
}

.icon-social
{
	display: inline-block;
	padding-right: 7px;
}

body
{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.Header
{
	background-color: lightcoral;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	padding: 0.1px;
	margin-bottom: 1em;
}
.Menu
{
	background-color: #303030;
	padding: 1px;
	margin-bottom: 1em;
	text-align: center;
}
.Menu-list
{
	padding-left: 0;
	display: inline-block;
}
.Menu-listItem
{
	display: inline-block;
	margin: 0 1.5em;
}
.Menu-listItemLink
{
	color: #00daff;
	font-size: 1.2em;
	text-decoration: none;
	-webkit-transition: 0.2s all ease-in;
}
.Menu-listItemLink:hover
{
	color: white;
	border-top: 4px solid white;
}
.div-ImageContainer
{
	text-align: center;
	color: #DEE;
}
.ImageContainer
{
	margin-bottom: -1em;
}
.ImageContainer-img
{
	border-radius: 50%;
}
.Header-title
{
	font-weight: bold;
}
.Header-job
{
	margin-top: -1em;
}
.Profile
{
	margin: 0 auto 1em;
	text-align: center;
	width: 70%;
}
.Profile-description
{
	font-size: 1.2em;
}
.Profile-socialNetworks
{
	border-radius: 20px;
	color: white;
	display: inline-block;
	font-weight: bold;
	margin: 0 0.2em;
	padding: .25em 0;
	text-decoration: none;
	width: 7em;
}
.Profile-socialNetworks:hover
{
	opacity: .6;
}

.Works
{
	text-align: center;
	color: #515151;
}

.Works-title
{
	text-align: center;
	margin: 0 auto 1em;
	width: 70%;
}

.Works-item
{
	display: inline-block;
	width: 245px;
	margin: 0 1em;
}

.Works-itemImage
{
	border-radius: 50%;
}

.Work-itemDescription
{
	display: inline-block;
}

.Footer
{
	background-color: lightcoral;
	text-align: center;
	padding: 2em 0;
	color: #111;
}

.Footer-information
{
	max-width: 18em;
	margin-right: 7em;
}
.Footer-informationTitle
{
	color: white;
	margin: 0;
}
.Footer-form
{
	max-width: 18em;
}
.Footer-form,
.Footer-information
{
	display: inline-block;
	vertical-align: top;
}
.Footer-formTextArea
{
	min-height: 8em;
}
.Footer-formButton
{
	background-color: #FF7C00;
	border-radius: 1em;
	border: none;
	color: white;
	font-weight: bold;
	height: 2em;
	width: 100%;
}
*[class*="-formText"]
{
	border-radius: 1em;
	border: none;
	color: #212121;
	height: 2em;
	margin-bottom: .5em;
	outline: none;
	padding: .2em 1em;
	resize: none;
	width: 100%;
}

@media screen and (max-width: 646px){
	.Footer-information
		{
			margin-right: 0;
		}	
}