@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?sp68c2");
  src: url("/fonts/icomoon/icomoon.eot?sp68c2#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?sp68c2") format("truetype"), url("/fonts/icomoon/icomoon.woff?sp68c2") format("woff"), url("/fonts/icomoon/icomoon.svg?sp68c2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-gulp-white-text:before {
  content: "\e908"; }

.icon-logo-sass:before {
  content: "\e909"; }

.icon-js-icon:before {
  content: "\e900"; }

.icon-arrow-down2:before {
  content: "\e907"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-github:before {
  content: "\e903"; }

.icon-linkedin2:before {
  content: "\e904"; }

.icon-html-five2:before {
  content: "\e905"; }

.icon-css3:before {
  content: "\e906"; }

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif; }

.max-width-1200 {
  max-width: 1200px;
  margin: auto; }

.my-image__img {
  width: 100px;
  border-radius: 50%; }
  @media (min-width: 720px) {
    .my-image__img {
      width: 150px; } }

.social-links {
  padding: 0;
  text-align: center; }

.social-links__item {
  text-decoration: none;
  display: block;
  margin: auto auto 1rem; }
  .social-links__item:last-child {
    margin-right: 0; }
  @media (min-width: 760px) {
    .social-links__item {
      margin-right: 2rem;
      display: inline-block; } }

.social-links__item__link {
  width: 200px;
  height: 50px;
  color: white;
  display: inline-block;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 0.3s;
  text-align: left;
  padding-left: 1rem; }
  .social-links__item__link:hover {
    background-color: rgba(0, 0, 0, 0.6); }
    .social-links__item__link:hover.facebook:after, .social-links__item__link:hover.twitter:after, .social-links__item__link:hover.github:after, .social-links__item__link:hover.linkdin:after {
      font-size: 1.3rem;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
  .social-links__item__link.facebook, .social-links__item__link.twitter, .social-links__item__link.github, .social-links__item__link.linkdin {
    position: relative; }
    .social-links__item__link.facebook:after, .social-links__item__link.twitter:after, .social-links__item__link.github:after, .social-links__item__link.linkdin:after {
      position: absolute;
      right: 1rem;
      transition: all 0.3s; }
  .social-links__item__link.facebook {
    vertical-align: baseline;
    display: inline-block; }
    .social-links__item__link.facebook:after {
      content: "\e901";
      font-family: icomoon;
      margin-left: 0.5rem;
      color: #405D9B; }
  .social-links__item__link.twitter {
    vertical-align: baseline;
    display: inline-block; }
    .social-links__item__link.twitter:after {
      content: "\e902";
      font-family: icomoon;
      margin-left: 0.5rem;
      color: #55ACEE; }
  .social-links__item__link.github {
    vertical-align: baseline;
    display: inline-block; }
    .social-links__item__link.github:after {
      content: "\e903";
      font-family: icomoon;
      margin-left: 0.5rem;
      color: #333; }
  .social-links__item__link.linkdin {
    vertical-align: baseline;
    display: inline-block; }
    .social-links__item__link.linkdin:after {
      content: "\e904";
      font-family: icomoon;
      margin-left: 0.5rem;
      color: #0077B5; }
  @media (min-width: 760px) {
    .social-links__item__link {
      width: 150px; } }

.cont-main-nav {
  position: relative;
  left: 0;
  right: 0;
  background-color: #2B4653;
  color: white;
  z-index: 1;
  text-align: center; }
  .cont-main-nav.show-nav .main-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .cont-main-nav.show-nav .main-nav__trigger {
    background-color: rgba(0, 0, 0, 0.7); }

@media (max-width: 600px) {
  .main-nav {
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.main-nav__trigger {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #2B4653;
  transition: all 0.3s;
  cursor: pointer; }
  @media (min-width: 600px) {
    .main-nav__trigger {
      display: none; } }

.main-nav__cont-items {
  padding: 0;
  text-align: center;
  font-size: 0; }
  @media (min-width: 600px) {
    .main-nav__cont-items {
      display: block; } }

.main-nav__items {
  display: block;
  font-size: 16px;
  text-align: center; }
  @media (min-width: 600px) {
    .main-nav__items {
      display: inline-block; } }

.main-nav__items__link {
  line-height: 40px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  display: block; }
  @media (min-width: 600px) {
    .main-nav__items__link {
      display: inline-block; } }
  .main-nav__items__link:hover {
    background-color: #F7F0F0;
    color: black; }

.main-header {
  background-color: white;
  background-size: cover;
  background-image: url("/img/Polygon_Art.jpg");
  width: 100%;
  height: 100vh;
  display: table;
  position: relative;
  padding: 2rem 0 4rem; }
  .main-header:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
  .main-header .cont-info {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative; }

.info-profile__cont-info {
  cursor: pointer; }

.info-profile__name {
  font-family: Lobster, serif;
  color: #F7F0F0;
  margin-bottom: 0.3rem; }

.info-profile__job {
  font-family: Lobster, serif;
  color: #F7F0F0;
  margin-top: 0;
  margin-bottom: 4rem; }

.go-to-my-info {
  padding: 1rem;
  background-color: rgba(7, 3, 55, 0.8);
  transition: all 0.3s;
  border: none;
  color: white;
  margin-top: 2rem;
  position: relative; }
  .go-to-my-info:hover {
    background-color: #070337; }
  .go-to-my-info:after {
    content: "\e907";
    font-family: icomoon;
    margin-top: 0.3rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.my-description {
  text-align: center;
  background-color: #070337;
  padding: 7rem 1rem; }

.my-description__cont-img {
  margin-top: 0; }

.my-description__img {
  width: 150px;
  border-radius: 50%; }

.my-description__text {
  max-width: 400px;
  display: inline-block;
  line-height: 23px;
  color: white;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: lighter; }

.portfolio {
  background-color: #004865;
  padding: 7rem 1rem;
  text-align: center; }

.portfolio__title {
  color: white;
  font-weight: lighter;
  margin-bottom: 3rem; }

.portfolio__item {
  width: 100%;
  max-width: 280px;
  display: block;
  vertical-align: top;
  background-color: #004865;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  margin: 1rem auto 3rem;
  cursor: pointer;
  transition: all 0.3s; }
  .portfolio__item:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.9); }
  @media (min-width: 600px) {
    .portfolio__item {
      display: inline-block;
      margin: 1rem; } }

.portfolio__item__cont-img.placeholder {
  background-color: #066D97;
  text-align: center;
  color: white;
  height: 150px;
  line-height: 150px;
  font-family: Lobster; }
  .portfolio__item__cont-img.placeholder:before {
    content: "Placeholder";
    font-size: 2rem;
    font-weight: lighter; }
  .portfolio__item__cont-img.placeholder .portfolio__item__img {
    display: none; }

.portfolio__item__img {
  width: 100%; }

.portfolio__item__footer:after {
  content: "";
  display: table;
  clear: both; }

.portfolio__item__name {
  color: white; }

.portfolio__item__tecno {
  padding: 0; }

.portfolio__item__tecno__item {
  display: inline-block;
  list-style: none; }
  .portfolio__item__tecno__item .tecnology.js:before {
    content: "\e900";
    font-family: icomoon;
    color: #F0DB4F; }
  .portfolio__item__tecno__item .tecnology.html:before {
    content: "\e905";
    font-family: icomoon;
    color: #F1662A; }
  .portfolio__item__tecno__item .tecnology.css:before {
    content: "\e906";
    font-family: icomoon;
    color: #35A9DB; }
  .portfolio__item__tecno__item .tecnology.jade {
    height: 16px; }
  .portfolio__item__tecno__item .tecnology.gulp {
    height: 16px; }

.tecnologies {
  text-align: center;
  padding: 7rem 1rem;
  background-color: #405d9b; }
  .tecnologies .cont-items {
    font-size: 0; }

.tecnologies__item {
  display: block;
  margin-bottom: 2rem;
  font-size: 16px; }
  @media (min-width: 580px) {
    .tecnologies__item {
      display: inline-block;
      width: 50%;
      max-width: 300px; } }

.tecnologies__title {
  color: white;
  font-weight: lighter;
  margin-bottom: 3rem; }

.tecnologies__item__logo.img img {
  width: 280px; }

.tecnologies__item__logo.text.js:before, .tecnologies__item__logo.text.css:before, .tecnologies__item__logo.text.html:before, .tecnologies__item__logo.text.sass:before, .tecnologies__item__logo.text.gulp:before {
  font-family: icomoon;
  font-size: 10rem; }

.tecnologies__item__logo.text.js:before {
  content: "\e900";
  color: #F0DB4F; }

.tecnologies__item__logo.text.css:before {
  content: "\e906";
  color: #35A9DB; }

.tecnologies__item__logo.text.html:before {
  content: "\e905";
  color: #F1662A; }

.tecnologies__item__logo.text.sass:before {
  content: "\e909";
  color: #CF649A; }

.tecnologies__item__logo.text.gulp:before {
  content: "\e908";
  color: white; }

.tecnologies__item__name {
  color: white; }

.footer {
  text-align: center;
  background-color: #2B4653;
  padding: 2rem; }

.footer__name {
  font-size: 1.3rem;
  padding: 0 0 2rem;
  color: white;
  margin: 0; }

.go-back-to-beginning {
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-color: #212121;
  border: none;
  color: white;
  padding: 0 1rem;
  position: relative;
  margin-top: 1rem; }
  .go-back-to-beginning:before {
    content: '\e907';
    font-family: icomoon;
    color: white;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    -webkit-transform: rotate(180deg) translateX(50%);
    transform: rotate(180deg) translateX(50%); }
  .go-back-to-beginning:hover:before {
    -webkit-animation: 0.3s up-down 3;
    animation: 0.3s up-down 3; }

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(0);
    transform: rotate(180deg) translateX(50%) translateY(0); }
  50% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(20px);
    transform: rotate(180deg) translateX(50%) translateY(20px); }
  100% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(0);
    transform: rotate(180deg) translateX(50%) translateY(0); } }

@keyframes up-down {
  0% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(0);
    transform: rotate(180deg) translateX(50%) translateY(0); }
  50% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(20px);
    transform: rotate(180deg) translateX(50%) translateY(20px); }
  100% {
    -webkit-transform: rotate(180deg) translateX(50%) translateY(0);
    transform: rotate(180deg) translateX(50%) translateY(0); } }
