section(class="my-description" id="my-description")
  figure.my-image
    img(class="my-image__img" src="/img/picture-profile.jpg")
  p(class="my-description__text").
    Hi there! I'm Miguel Martinez, I'm a very passionated Front-End developer living in the beautiful country Colombia, working with the very awesome teammates in Monoku(Bogota, Colombia)