footer(class="footer" id="main-footer")
  p.footer__name.
    Miguel Martinez Front-End developer at Monoku, Bogota Colombia
  button(class="go-back-to-beginning" id="go-back-to-beginning")
    Go back to the beginning