header(class="main-header" id="main-header")
  div.cont-info
    div.info-profile
      div.info-profile__cont-info
        figure.my-image
          img(class="my-image__img" src="/img/picture-profile.jpg", alt="")
        h1.info-profile__name Miguel Martinez
        h2.info-profile__job Front-End Junior
      include ./social-links.jade
      button(class="go-to-my-info" id="go-to-my-info") Go to my info