head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0")
  title Miguel Martinez
  link(rel="stylesheet" href="/css/main.css")
  link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel="stylesheet" type="text/css")