doctype html
html  
  include ./head.jade
  body
    include ./navigation.jade
    include ./header.jade
    include ./description.jade
    include ./portfolio.jade
    include ./tecnologies.jade
    include ./footer.jade
    include ./scripts.jade