div(class="my-info")
  p(class="my-info__text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe commodi, doloremque voluptatum numquam ea cupiditate! Repudiandae cumque porro animi incidunt iusto numquam ipsa, accusantium laborum accusamus. Sed eum, expedita maiores.