header.cont-main-nav(id="cont-navigation")
  nav.main-nav
    span.main-nav__trigger(id="toggle-menu") Menu
    ul.main-nav__cont-items
      li(class="main-nav__items" id="go-to-me")
        a(class="main-nav__items__link" href="#") Me
      li(class="main-nav__items" id="go-to-description")
        a(class="main-nav__items__link" href="#") Description
      li(class="main-nav__items" id="go-to-portfolio")
        a(class="main-nav__items__link" href="#") Portfolio
      li(class="main-nav__items" id="go-to-tecnologies")
        a(class="main-nav__items__link" href="#") Tecnologies
      li(class="main-nav__items" id="go-to-footer")
        a(class="main-nav__items__link" href="#") Footer