section(class="portfolio" id="portfolio")
  div.max-width-1200
    h2.portfolio__title My personal work
    div.portfolio__item
      figure.portfolio__item__cont-img.placeholder
        img(class="portfolio__item__img" src="#" alt="")
      footer.portfolio__item__footer
        p.portfolio__item__name Test
        ul.portfolio__item__tecno
          li.portfolio__item__tecno__item
            span.tecnology.js
          li.portfolio__item__tecno__item
            span.tecnology.css
          li.portfolio__item__tecno__item
            span.tecnology.html
          li.portfolio__item__tecno__item
            img.tecnology.jade(src="/img/jade-logo.svg")
          li.portfolio__item__tecno__item
            img.tecnology.gulp(src="/img/gulp-white-text.svg")
          li.portfolio__item__tecno__item
            img.tecnology.gulp(src="/img/sass.svg")
    div.portfolio__item
      figure.portfolio__item__cont-img.placeholder
        img(class="portfolio__item__img" src="#" alt="")
      footer.portfolio__item__footer
        p.portfolio__item__name Test
        ul.portfolio__item__tecno
          li.portfolio__item__tecno__item
            span.tecnology.js
          li.portfolio__item__tecno__item
            span.tecnology.css
          li.portfolio__item__tecno__item
            span.tecnology.html
    div.portfolio__item
      figure.portfolio__item__cont-img.placeholder
        img(class="portfolio__item__img" src="#" alt="")
      footer.portfolio__item__footer
        p.portfolio__item__name Test
        ul.portfolio__item__tecno
          li.portfolio__item__tecno__item
            span.tecnology.js
          li.portfolio__item__tecno__item
            span.tecnology.css
          li.portfolio__item__tecno__item
            span.tecnology.html
    div.portfolio__item
      figure.portfolio__item__cont-img.placeholder
        img(class="portfolio__item__img" src="#" alt="")
      footer.portfolio__item__footer
        p.portfolio__item__name Test
        ul.portfolio__item__tecno
          li.portfolio__item__tecno__item
            span.tecnology.js
          li.portfolio__item__tecno__item
            span.tecnology.css
          li.portfolio__item__tecno__item
            span.tecnology.html