ul.social-links
  li.social-links__item
    a(class="social-links__item__link facebook" target="_blank" href="https://www.facebook.com/migueljomartinez") Facebook
  li.social-links__item
    a(class="social-links__item__link twitter" target="_blank" href="https://twitter.com/migueljomart") Twitter
  li.social-links__item
    a(class="social-links__item__link linkdin" target="_blank" href="https://www.linkedin.com/profile/view?id=AAIAABbnGmoBi2mkSJeBNv5gZUyRnYPZ_S2W1UY&trk=nav_responsive_tab_profile") Linkedin
  li.social-links__item
    a(class="social-links__item__link github" target="_blank" href="https://github.com/migueljo") Github