section(class="tecnologies" id="tecnologies-section")
  div.max-width-1200
    h2.tecnologies__title Tecnologies I use to work
    div.cont-items
      div.tecnologies__item
        div.tecnologies__item__logo.text.js
        p.tecnologies__item__name.
          Javascript
      
      div.tecnologies__item
        div.tecnologies__item__logo.text.css
        p.tecnologies__item__name.
          CSS3

      div.tecnologies__item
        div.tecnologies__item__logo.text.html
        p.tecnologies__item__name.
          HTML5

      div.tecnologies__item
        div.tecnologies__item__logo.text.sass
        p.tecnologies__item__name.
          Sass

      div.tecnologies__item
        div.tecnologies__item__logo.text.gulp
        p.tecnologies__item__name.
          Gulp

      div.tecnologies__item
        div.tecnologies__item__logo.img.jade
          img(src="/img/jade-logo.svg", alt="")
        p.tecnologies__item__name.
          Jade