@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon/icomoon.eot?sp68c2');
	src:url('/fonts/icomoon/icomoon.eot?sp68c2#iefix') format('embedded-opentype'),
		url('/fonts/icomoon/icomoon.ttf?sp68c2') format('truetype'),
		url('/fonts/icomoon/icomoon.woff?sp68c2') format('woff'),
		url('/fonts/icomoon/icomoon.svg?sp68c2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gulp-white-text:before {
    content: "\e908";
}
.icon-logo-sass:before {
    content: "\e909";
}
.icon-js-icon:before {
    content: "\e900";
}
.icon-arrow-down2:before {
    content: "\e907";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-github:before {
    content: "\e903";
}
.icon-linkedin2:before {
    content: "\e904";
}
.icon-html-five2:before {
    content: "\e905";
}
.icon-css3:before {
    content: "\e906";
}